My workflow 3.json
{
  "name": "workflow.json",
  "nodes": [
    {
      "parameters": {
        "operation": "runSync",
        "url": "https://www.instahyre.com/jobs/",
        "goal": "Find engineering-related jobs across all major domains.\n\nFocus on roles such as:\n- Software Engineer, Full Stack Developer, Backend, Frontend\n- Machine Learning Engineer, AI Engineer, Data Scientist, Data Engineer\n- Mechanical Engineer, Design Engineer, Production Engineer\n- Electrical Engineer, Electronics Engineer\n- Civil Engineer\n\nBrowse like a human:\n- Apply relevant filters if available\n- Navigate through listings\n- Explore multiple pages if possible\n\nExtract for each job:\n- job_title\n- company\n- location\n- posted_time (if available, otherwise \"not available\")\n- apply_link\n\nReturn ONLY a clean JSON array.\nDo NOT include markdown (no ```).\nDo NOT include explanations.",
        "options": {}
      },
      "type": "n8n-nodes-tinyfish.tinyfish",
      "typeVersion": 1,
      "position": [
        -256,
        -240
      ],
      "id": "a78cf87e-ce8e-4e2a-a5e2-2fa168aabe71",
      "name": "TinyFish — Instahyre",
      "credentials": {
        "tinyfishApi": {
          "id": "pTtMWulpeagMBwJG",
          "name": "TinyFish Web Agent account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "result.result",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -16,
        -240
      ],
      "id": "c8a42854-c7a4-4804-8204-9675685f36f2",
      "name": "Split Out"
    },
    {
      "parameters": {
        "operation": "runSync",
        "url": "https://www.naukri.com/software-engineer-jobs",
        "goal": "Find engineering-related jobs across all major domains.\n\nFocus on roles such as:\n- Software Engineer, Full Stack Developer, Backend, Frontend\n- Machine Learning Engineer, AI Engineer, Data Scientist, Data Engineer\n- Mechanical Engineer, Design Engineer, Production Engineer\n- Electrical Engineer, Electronics Engineer\n- Civil Engineer\n\nUse the website filters/search to find relevant roles.\n\nBrowse like a human:\n- Apply relevant filters if available\n- Navigate through listings\n- Explore multiple pages if possible\n\nExtract for each job:\n- job_title\n- company\n- location\n- posted_time (if available, otherwise \"not available\")\n- apply_link\n\nReturn ONLY a clean JSON array.\nDo NOT include markdown (no ```).\nDo NOT include explanations.",
        "options": {}
      },
      "type": "n8n-nodes-tinyfish.tinyfish",
      "typeVersion": 1,
      "position": [
        -256,
        -80
      ],
      "id": "a93dff63-8bcd-406f-8a9c-7e395c6ee297",
      "name": "TinyFish — Naukri",
      "credentials": {
        "tinyfishApi": {
          "id": "pTtMWulpeagMBwJG",
          "name": "TinyFish Web Agent account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "result.result",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -16,
        -80
      ],
      "id": "a6072cd6-f395-48f2-a34b-f1f2e4870e4b",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "operation": "runSync",
        "url": "https://www.google.com/search?q=engineering+jobs+india+software+ai+mechanical+electrical",
        "goal": "Find engineering-related jobs from the Google Jobs results panel.\n\nFocus on ALL engineering domains:\n- Software Engineer, Backend, Frontend, Full Stack\n- Machine Learning Engineer, AI Engineer, Data Scientist, Data Engineer\n- Mechanical Engineer, Design Engineer, Production Engineer\n- Electrical Engineer, Electronics Engineer\n- Civil Engineer\n\nIMPORTANT:\n- Only extract from the Google Jobs panel (job listings section)\n- Ignore normal search results\n\nBrowse like a human:\n- Scroll through job listings\n- Click into job cards if needed\n\nExtract for each job:\n- job_title\n- company\n- location\n- posted_time (if visible, else \"not available\")\n- apply_link\n\nReturn ONLY a clean JSON array.\nNo markdown.\nNo explanation.",
        "options": {}
      },
      "type": "n8n-nodes-tinyfish.tinyfish",
      "typeVersion": 1,
      "position": [
        -256,
        112
      ],
      "id": "5e47c728-db79-4d93-9bbb-95cd25040ae5",
      "name": "TinyFish — Google Jobs",
      "credentials": {
        "tinyfishApi": {
          "id": "pTtMWulpeagMBwJG",
          "name": "TinyFish Web Agent account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "result.result",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -16,
        112
      ],
      "id": "a4185fd4-3755-4e6a-b391-79239ae2c6e4",
      "name": "Split Out2"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        368,
        -96
      ],
      "id": "58ab715c-69a7-4087-8374-cf6e3eb140e0",
      "name": "Merge"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "jobs",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        576,
        -80
      ],
      "id": "56f8eeba-b768-47ca-9cc0-f967b33bd9e7",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "sendTo": "prewalfernandes.gorigudda@gmail.com",
        "subject": "🚀 Engineering Jobs (All Sources)",
        "message": "=<h2>🚀 Latest Engineering Jobs</h2>\n\n{{ $json.jobs.map(job => `\n<div style=\"margin-bottom:15px;\">\n<b>Role:</b> ${job.job_title}<br>\n<b>Company:</b> ${job.company}<br>\n<b>Location:</b> ${job.location}<br>\n<b>Posted:</b> ${job.posted_time}<br>\n<b>Apply:</b> <a href=\"${job.apply_link}\">Click Here</a>\n<hr>\n</div>\n`).join('') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        784,
        -80
      ],
      "id": "0adc57ee-aa22-4fd9-8074-f93402deca61",
      "name": "Send a message",
      "webhookId": "15b9bf95-eb12-42cb-bfb2-7c51ed61a571",
      "credentials": {
        "gmailOAuth2": {
          "id": "fBgA5QRZZFP5khsV",
          "name": "Gmail account 3"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            },
            {
              "triggerAtHour": 15
            },
            {
              "triggerAtHour": 21
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -720,
        -80
      ],
      "id": "77704f7c-95ed-4262-80d1-6cd37c4d12e0",
      "name": "Schedule Trigger"
    }
  ],
  "pinData": {},
  "connections": {
    "TinyFish — Instahyre": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TinyFish — Naukri": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TinyFish — Google Jobs": {
      "main": [
        [
          {
            "node": "Split Out2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Split Out2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "TinyFish — Instahyre",
            "type": "main",
            "index": 0
          },
          {
            "node": "TinyFish — Naukri",
            "type": "main",
            "index": 0
          },
          {
            "node": "TinyFish — Google Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "3d212217-e048-4449-8e9f-65e0c17d33f7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "fbd3d755102b305043a6706d149311ec8e2d2b4b9b53d88d876ab88dc5d765be"
  },
  "id": "MBLzTfEtY3lkz75i",
  "tags": []
}
